$color_1: white;
$background-color_1: black;
$background-color_2: #333;
$background-color_3: red;
$background-color_4: blue;

.container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  height: 70vh;
}
.frame {
  width: 70%;
  background-color: $background-color_1;
  color: $color_1;
  overflow: auto;
}
.table {
  width: 100%;
  border-collapse: collapse;
  th {
    padding: 15px;
    border: 1px solid white;
    background-color: $background-color_2;
    font-size: 1.6rem;
  }
  td {
    padding: 15px;
    border: 1px solid white;
    font-size: 1.4rem;
    text-align: center;
    text-transform: capitalize;
  }
}
.delete-btn {
  background-color: $background-color_3;
  color: $color_1;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.update-btn {
  background-color: $background-color_4;
  color: $color_1;
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
.toggle {
  padding: 10px;
  margin: 10px;
  font-size: 1.2rem;
  cursor: pointer;
}
